.no-hover-effect {
  --background-hover: none;
  cursor: default;
}

.ion-badge-padding {
  margin-top: 3px;
  padding: 5px 17px;
  --ion-color-base: green !important;
  --color: white !important;
}

ion-badge {
  --color: white;
  &.success {
    --background: green !important;
  }

  &.primary {
    --background: var(--primary-color) !important;
  }

  &.warning {
    --background: #22d8ccfa !important;
  }
}

.date {
  font-size: 11px;
  margin-top: 7px;
  font-weight: normal;
}
