<ion-card>
  <ion-card-header class="ion-no-padding">
    <ion-list [inset]="true" class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-card-title>
              <ion-text class="ion-text-sm-wrap">
                <h1 class="ion-float-left ion-no-margin"><b>{{ order.meal | titlecase }}</b></h1>
              </ion-text>
              <ion-badge *ngIf="order.status === 'DELIVERED'" class="ion-badge-padding ion-float-end success">
                {{ order.status | titlecase }}
              </ion-badge>
              <ion-badge *ngIf="order.status === 'INCART'" class="ion-badge-padding ion-float-end warning">
                {{ order.status | titlecase }}
              </ion-badge>
              <ion-badge *ngIf="order.status === 'ORDERED'" class="ion-badge-padding ion-float-end primary">
                {{ order.status | titlecase }}
              </ion-badge>
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-text>
            {{ order.address.homeNo }},
            {{ order.address.society }},
            {{ order.address.landmark }},
            {{ order.address.subArea.name }},
            {{ order.address.area.name }} - {{ order.address.area.pincode }}
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-segment mode="ios">
            <ion-segment-button class="no-hover-effect">
              <ion-label class="ion-text-wrap"><b>Order Date : {{ order.orderDate | date: 'dd/MM/yyyy' }}
                </b></ion-label>
            </ion-segment-button>
            <ion-segment-button class="no-hover-effect">
              <ion-label class="ion-text-wrap"><b>Delivery Date: {{ order.mealDate | date: 'dd/MM/yyyy' }}
                </b></ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-accordion-group class="ion-margin-top ion-padding-horizontal">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label class="ion-text-sm-wrap">
            {{ allItemsName }}
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div *ngFor="let item of order.items; let i = index">
            <ion-item *ngIf="i < order.items.length - 1">
              <ion-label>{{ item.name | titlecase }}</ion-label>
              <ion-text slot="end"> &#8377; {{ item.price }} </ion-text>
            </ion-item>

            <ion-item lines="none" *ngIf="i === order.items.length - 1">
              <ion-label>{{ item.name | titlecase }}</ion-label>
              <ion-text slot="end"> &#8377; {{ item.price }} </ion-text>
            </ion-item>
          </div>

          <hr />

          <ion-item lines="none">
            <ion-text> Total </ion-text>
            <ion-text slot="end"> &#8377; {{ total }} </ion-text>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" class="ion-align-items-center">
        <ion-button id="open-modal" expand="block" fill="clear" (click)="showFeedbackModal = true">
          <u class="font-primary">
            Rate food
          </u>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

<app-feedback-modal *ngIf="showFeedbackModal"></app-feedback-modal>
