<ion-app>
  <ion-menu contentId="main-content" color="primary">
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-title color="light">Tapauswa</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
        <ion-item [routerLink]="[pages.url]" routerLinkActive="active" lines="none" detail="false">
          <ion-icon slot="start" [name]="pages.icon + '-outline'" color="primary"></ion-icon>
          <ion-label>{{ pages.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn" role="button">
        <ion-item lines="none" detail="false" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline" color="primary"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngIf="!isLoggedIn" role="button">
        <ion-item lines="none" detail="false" routerLink="/login">
          <ion-icon slot="start" name="log-in-outline" color="primary"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content" color="primary">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">{{title}}</ion-title>
        <ion-buttons slot="end">
          <img alt="Silhouette of mountains" src="../../assets/images/logo.png" width="70" class="ion-float-end" (click)="navigatePage('home')"/>
          <!-- <ion-menu-button color="light"></ion-menu-button> -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
      <ion-tabs (ionTabsWillChange)="onTabChange($event)">
        <ion-tab-bar slot="bottom" color="light">
          <ion-tab-button (click)="navigatePage('home')">
            <ion-icon [name]="activePage === 'home' ? 'home' : 'home-outline'" color="primary"></ion-icon>
            <ion-text>Home</ion-text>
          </ion-tab-button>
          <ion-tab-button (click)="navigatePage('menu')">
            <ion-icon [name]="activePage === 'menu' ? 'fast-food' : 'fast-food-outline'" color="primary"></ion-icon>
            <ion-text>Menu</ion-text>
          </ion-tab-button>
          <ion-tab-button (click)="navigatePage('orders')">
            <ion-icon [name]="activePage === 'orders' ? 'bag-handle' : 'bag-handle-outline'" color="primary"></ion-icon>
            <ion-text>Orders</ion-text>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-app>