ion-menu {
  --background: white !important;
}

// .ion-page + ion-header + ion-toolbar &ion-title {
//   color: var(--primary-color);
// }

ion-menu-toggle {
  & ion-item {
    & ion-icon {
      margin-right: 25px;
      margin-left: 20px;
    }
  }
}

// ion-item.active {
//   --highlight-color-focused: white !important;
//   --background: rgba(128, 128, 128, 0.637) !important;
//   --color: white;

//   & ion-icon {
//     --ion-color-base: #fff;
//   }
// }

ion-item {
  --color: grey;
}

ion-item.active {
  --color: var(--primary-color);
  // --background: rgba(128, 128, 128, 0.637) !important;

  + ion-icon {
    --ion-color-base: var(--primary-color);
  }
}

// ion-item:not(.active) {
//   --background: #fff;
//   --color: var(--primary-color);
// }

ion-tab-bar {
  --ion-color-base: white !important;

  & ion-icon {
    --ion-color-base: var(--primary-color) !important;
  }

  + ion-tab-button {
    color: var(--primary-color) !important;
  }
  & ion-text {
    color: var(--primary-color);
  }
}
