ion-tab-bar {
  --ion-color-base: white !important;

  & ion-icon {
    --ion-color-base: var(--primary-color) !important;
  }

  + ion-tab-button {
    color: var(--primary-color) !important;
  }
  & ion-text {
    color: var(--primary-color);
  }
}

.tab-selected {
  color: var(--primary-color) !important;
}

ion-item.active {
  --highlight-color-focused: white !important;
}

// ion-item.active {
//   --background: var(--ion-color-primary) !important;
//   --color: #fff;

//   + ion-icon {
//     --ion-color-base: #fff;
//   }
// }

// ion-item:not(.active) {
//   --background: #fff;
//   --color: var(--primary-color);
// }
