<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-vertical" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <app-address-list [showSpinner]="false" (onAddressChange)="setAddress($event)"></app-address-list>
      </ion-col>
      <ion-col>
        <app-cart [items]="items" [total]="total"></app-cart>
        <ion-grid>

          <ion-row class="ion-margin-horizontal" *ngIf="items.length > 0">
            <ion-col size="12">
              <ion-item lines="full">
                <ion-input type="text" label="Additional Comment" label-placement="floating"
                  [(ngModel)]="additionalComment"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-margin-horizontal ion-margin-top" *ngIf="items.length > 0">
            <ion-col size="12">
              <ion-text>Available coupons 16.</ion-text>
              <ion-checkbox labelPlacement="end" class="checkbox-tiffy ion-float-end">
                Avail coupon
              </ion-checkbox>
            </ion-col>
            <ion-col size="12" size-md="6" class="ion-align-items-center">
              <ion-button expand="block" color="primary" class="ion-margin" (click)="placeOrder()"
                [disabled]="isSubmitting || !selectedAddress || items.length === 0">
                Proceed to pay
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner color="primary" *ngIf="isLoading" mode="ios"></ion-spinner>

</ion-content>
