<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12" size-sm="12">
        <ion-segment mode="ios" value="upcoming" color="primary" (ionChange)="onSegmentChange($event)">
          <ion-segment-button value="upcoming">
            <ion-label class="ion-text-wrap ion-padding-vertical">
              <h2>
                <b>
                  Upcoming Orders
                </b>
              </h2>
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="past">
            <ion-label class="ion-text-wrap">
              <h2>
                <b>Past Orders</b>
              </h2>
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="segment === 'upcoming'">
    <div *ngFor="let order of upcomingOrders">
      <app-order-card [order]="order"></app-order-card>
    </div>
    <div *ngIf="upcomingOrders.length == 0">
      <ion-grid class="d-flex justify-content-center">
        <ion-row>
          <ion-col>
            <ion-text>No orders have been scheduled for now!!!</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="segment === 'past'">
    <div *ngFor="let order of pastOrders">
      <app-order-card [order]="order"></app-order-card>
    </div>
    <div *ngIf="pastOrders.length == 0">
      <ion-grid class="d-flex justify-content-center">
        <ion-row>
          <ion-col>
            <ion-text>No orders yet!!!</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>