<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-md="12" size-sm="12">
        <ion-segment mode="ios" value="today" color="primary" (ionChange)="onSegmentChange($event)">
          <ion-segment-button value="past">
            <ion-label class="ion-text-wrap">
              <h3>
                <b>Past</b>
              </h3>
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="today">
            <ion-label class="ion-text-wrap">
              <h3>
                <b>Today</b>
              </h3>
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="upcoming">
            <ion-label class="ion-text-wrap ion-padding-vertical">
              <h3>
                <b>
                  Upcoming
                </b>
              </h3>
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="segment === 'upcoming' && !isLoading">
    <div *ngFor="let order of upcomingOrders">
      <app-order-card [order]="order"></app-order-card>
    </div>
    <div *ngIf="upcomingOrders.length === 0">
      <ion-grid class="d-flex justify-content-center">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/images/noOrders.svg" width="100%">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="segment === 'today' && !isLoading">
    <div *ngFor="let order of todayOrders">
      <app-order-card [order]="order"></app-order-card>
    </div>
    <div *ngIf="todayOrders.length === 0">
      <ion-grid class="d-flex justify-content-center">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/images/noOrders.svg" width="100%">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="segment === 'past' && !isLoading">
    <div *ngFor="let order of pastOrders">
      <app-order-card [order]="order"></app-order-card>
    </div>
    <div *ngIf="pastOrders.length === 0">
      <ion-grid class="d-flex justify-content-center">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/images/noOrders.svg" width="100%">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-spinner color="primary" *ngIf="isLoading" mode="ios"></ion-spinner>

</ion-content>
