<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="justify-content-center">
      <ion-col size="12" class="d-flex justify-content-end ion-padding-end">
        <ion-button color="primary" (click)="showPostModal = true">Post</ion-button>
      </ion-col>
      <ion-col size-sm="12" size-md="10" size-lg="9">
        <ion-card *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
          <ion-card-header>
            <ion-card-title> Harshil Amreliya </ion-card-title>
            <p class="ion-no-margin">{{date}}</p>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="12">
                  Here's a small text description for the card content. Nothing more, nothing less.
                  Here's a small text description for the card content. Nothing more, nothing less.
                </ion-col>
                <ion-col size="12" class="ion-align-items-baseline">
                  <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="img" class="img" />
                  <video src="D:\Movies\FMM.mp4"></video>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-add-post (close)="showPostModal = false" *ngIf="showPostModal"></app-add-post>
</ion-content>
