img {
  height: 100%;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

video {
  height: 200px;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.text-sm {
  font-size: 12px;
}

.fab-position {
  position: fixed;
  bottom: 12px;
  right: 22px;
}
