<ion-content class="ion-padding">
  <ion-modal #modal [isOpen]="true" [canDismiss]="true" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>
            <ion-text color="dark">
              <h2>Post</h2>
            </ion-text>
          </ion-title>
          <ion-buttons mode="md" slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="wrapper">
          <ion-grid class="ion-padding-top">
            <ion-row class="justify-content-center">
              <form (ngSubmit)="addPost()">
                <ion-col size-sm="12" size="10">
                  <div class="picker">
                    <input type="file" id="file" name="file" accept="image/*, video/*" (change)="onFileSelect($event)">
                  </div>
                  <p class="text-danger" *ngIf="isFileLarge">File size exceeded.</p>
                </ion-col>
                <ion-col size-xs="12" size-sm="10" class="ion-padding-top">
                  <ion-textarea name="comment" label="Comment" labelPlacement="floating" class="ion-padding-horizontal"
                    [autoGrow​]="true" [rows​]="10" [spellcheck]="true" [counter]="true" maxlength="255"
                    [(ngModel)]="comment"></ion-textarea>
                </ion-col>
                <ion-col size-xs="12" size-sm="10" class="ion-padding-horizontal">
                  <ion-button type="submit" color="primary" expand="block" class="ion-margin-top">
                    Post
                  </ion-button>
                </ion-col>
              </form>
            </ion-row>
          </ion-grid>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
