.picker {
  // width: 30rem;
  // max-width: 80%;
  // height: 15rem;
  // max-height: 20vh;
  border: 1px solid var(--ion-color-primary);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  float: left;
}

.img-selector-button {
  width: 30rem;
  height: 15rem;
  max-height: 20vh;
  color: var(--primary-color);
  --ion-color-base: white !important;
  font-size: x-large;

  + button {
    border-radius: 5%;
    border: 1px solid var(--primary-color);
  }

  // &:hover {
  //   --ion-color-contrast: orange !important
  // }
}

ion-img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  float: left !important;
}




// zorro
.ant-upload {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  outline: 0;
}

.ant-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
}
