<ion-grid class="d-flex justify-content-center ion-margin-top">
  <ion-row>
    <ion-col size="12" size-sm="12" size-xs="12">
      <img src="../../../assets/images/orderPlaced.svg" width="100%">
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="12" size-xs="12">
      <h2>Order Placed Successfully!</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="d-flex justify-content-center">
      <a class="go-to-link text-decoration-none font-weight-bold" routerLink="/orders">GO TO ORDERS</a>
    </ion-col>
  </ion-row>
</ion-grid>
