/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --primary-color: rgb(245, 0, 0);
}

.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin-top: 0.5px;
  margin-left: 0.5px;
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--primary-color);
}

[aria-checked="true"].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md,
[aria-checked="true"].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

[aria-checked="true"].sc-ion-alert-ios .alert-checkbox-icon.sc-ion-alert-ios {
  background-color: var(--primary-color);
}

[aria-checked="true"].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--primary-color);
}

.alert-radio-inner.sc-ion-alert-ios {
  border-color: var(--primary-color);
  margin-top: 0.5px;
  margin-left: 0.5px;
}

.font-primary {
  color: var(--primary-color);
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: var(--primary-color);
  --border-color-checked: var(--primary-color);
  --border-color: var(--primary-color);
  --checkmark-color: white;
}

ion-radio {
  --color-checked: var(--primary-color);
  --color: var(--primary-color);
}

ion-button {
  --color: white;
}

.input-bottom.sc-ion-input-md {
  border-top: none;
}

.input-bottom.sc-ion-input-ios {
  border-top: none;
}

ion-select.no-select.ng-touched.ng-invalid {
  color: var(--primary-color);
}

//dashed line
hr {
  border: none;
  border-top: 3px dashed black;
  margin-top: 0px;
}

ion-progress-bar {
  --progress-background: var(--primary-color);
}

ion-spinner {
  width: 50px;
  height: 50px;
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.otp-input {
  background-color: white !important;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border: 2px solid orange !important;
  }
}
