<ion-app>
  <ion-content>
    <ion-grid class="ion-margin-top ion-padding-top">

      <ion-row class="d-flex justify-content-center">
        <img src="../../assets/images/logo.png" width="270px">
      </ion-row>
      <br>

      <app-sliders></app-sliders>

      <ion-row class="ion-margin-top ion-padding-top">
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3" *ngFor="let item of [1, 2, 3, 4]">
          <app-meal></app-meal>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>

</ion-app>
